# Gradle
.gradle/
build/
**/build/

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# Android Studio
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

# Generated
app/release/
app/debug/


